[submodule "droid-configs-device"]
	path = droid-configs-device
	url = https://github.com/sailfishos-oneplus5/droid-hal-configs.git
	branch = hossa-fix
[submodule "sparse/usr/bin/droid/gestured"]
	path = sparse/usr/bin/droid/gestured
	url = https://github.com/sailfishos-oneplus5/gesture-daemon
