[Unit]
Description=Link Android storage folder to home & /sdcard
After=local-fs.target
Conflicts=rescue.target actdead.target factory-test.target

[Service]
Type=oneshot
ExecStart=/usr/bin/droid/android-links.sh
