KERNEL=="event0", SUBSYSTEM=="input", ATTRS{name}=="qpnp_pon", ACTION=="add", SYMLINK+="power_button"
KERNEL=="event1", SUBSYSTEM=="input", ATTRS{name}=="fpc1020", ACTION=="add", SYMLINK+="home_button"
KERNEL=="event3", SUBSYSTEM=="input", ATTRS{name}=="tri-state-key", ACTION=="add", SYMLINK+="notification_slider"
KERNEL=="event5", SUBSYSTEM=="input", ATTRS{name}=="gpio-keys", ACTION=="add", SYMLINK+="volume_rocker"
KERNEL=="event6", SUBSYSTEM=="input", ATTRS{name}=="msm8998-tasha-snd-card Headset Jack", ACTION=="add", SYMLINK+="audio_jack"
KERNEL=="event7", SUBSYSTEM=="input", ATTRS{name}=="msm8998-tasha-snd-card Button Jack", ACTION=="add", SYMLINK+="button_jack"
