[Unit]
Description=Call audio daemon
After=post-user-session.target
Conflicts=actdead.target factory-test.target rescue.target
Requires=dbus.socket

[Service]
ExecStart=/usr/bin/droid/callaudiod.sh
Restart=always
RestartSec=1

[Install]
WantedBy=user-session.target
