[Unit]
Description=Daemon to handle display off gestures
After=graphical.target cheeseburger-misc.service
Conflicts=actdead.target factory-test.target rescue.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/droid/gestured-start.sh
